<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
    <button type="submit">Search</button>
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
      <img src="../assets/hot.jpg"  *ngIf="weatherData.main.temp >288">
      <img src="../assets/cold.jpg" *ngIf="weatherData.main.temp <=288">
    <div class="weather-data">
       <div class="location">{{weatherData.name}}</div>
       <div class="temperature"> {{(weatherData.main.temp- 273.15) | number:"1.0-0"}}°C </div>
    </div> 
  </div>
  <div class="lower-data">
     <div class="more-info-label">
         More Information
     </div>
     <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/min.png" >
            <span>min</span>
          </div>
          <div class="info-block-value">
            {{(weatherData.main.temp_min- 273.15)| number:"1.0-0"}}°C
          </div>
        </div>
      
      
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/max.png" >
            <span>max</span>
          </div>
          <div class="info-block-value">
            {{(weatherData.main.temp_max- 273.15)| number:"1.0-0"}}°C
          </div>
        </div>
      
      
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/humidity.jpg" >
            <span>humidity</span>
          </div>
          <div class="info-block-value">
            {{weatherData.main.humidity}}%
          </div>
        </div>
      
      
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/wind.jpg" >
            <span>wind</span>
          </div>
          <div class="info-block-value">
            {{weatherData.wind.speed}}km/h
          </div>
        </div>
     </div>
      
  </div>
</div>



